        <div class="column is-one-quarter">
            <aside class="menu">
                <h3 class="menu-label">
                    Staff Menu
                </h3>
                <ul class="menu-list">
                    <li><a href="/staff/view_student_list">View list of students</a></li>
                    <li><a href="/staff/enter_quiz_results">View or enter quiz results</a></li>
                </ul>
            </aside>
        </div>


