        <div class="column is-one-quarter">
            <aside class="menu">
                <h3 class="menu-label">
                    Student Menu
                </h3>
                <ul class="menu-list">
                    <li><a href="/student/view_student_details">Student Details</a></li>
                    <li><a href="/student/view_student_grade">View Homework results</a></li>
                </ul>
            </aside>
        </div>
