<div class="container">
  <div class="columns">

    <!-- insert partial\menu_student.handlebars here -->
    {{> menu_student}}

    <div class="table-container">
      <table class="table is-hoverable is-striped is-narrow">
        <thead>
          <tr>


            <th>Course</th>
            <th>Homework</th>
            <th>Grade</th>
          </tr>
          {{#each courses}}
          <tr>
            <td>{{courseName}}</td>
            <td>{{homeWork}}</td>
            <td>{{courseGrade}}</td>
          </tr>
          {{/each}}
        </thead>
      </table>
    </div>
  </div>
</div>