.show {
    display: block; 
}

.hide {
    display: none; 
}
.logout {
    position: relative;
    float: right; 
  
}
.StudentDetailsTable{
    width: 750px;
}

.selectClasses {
    width: 150px;
}


