        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">
                    Student Menu
                </p>
                <ul class="menu-list">
                    <li><a id="studentDetailBtn">Student Details</a></li>
                    <li><a id="guardianDetailBtn">Guardian Details</a></li>
                    <li><a id="quizResultBtn">View past quiz results</a></li>
                </ul>
            </aside>
        </div>
